body
{
background:#C9C7C7;
margin: 1.5em;
}
.row{
display:table-row;
}
#projects{
display : table;
width:80%;
margin:auto;
}
#project{
display:table-cell;
margin:1em;
padding:2em;
}
#project:hover{
display:table-cell;
margin:1em;
padding:2em;
border:1px solid #746A6A;
background:#B5B1B1;
}
#modules{
display : table;
width:60%;
margin:auto;
}
#module{
display:table-cell;
margin :2px;
padding:2px;
}
#icon{
float:left;
background:url("/devindex/images/module.png");
height:24px;
width:24px;
}
